<p id="notice"><%= notice %></p>

<h1>Prooftables</h1>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prooftables.each do |prooftable| %>
      <tr>
        <td><%= prooftable.table %></td>
        <td><%= prooftable.name %></td>
        <td><%= link_to 'Show', prooftable %></td>
        <td><%= link_to 'Edit', edit_prooftable_path(prooftable) %></td>
        <td><%= link_to 'Destroy', prooftable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prooftable', new_prooftable_path %>
